<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemonzuo.mapper.StorageMapper">
    <update id="updateStorage">
        UPDATE
          tb_storage
        SET
          used = (used + #{count}),
          residue = (residue - #{count})
        WHERE product_id = #{productId}
    </update>
</mapper>